/** Treemap **/
.TreemapClass text {
    pointer-events: none;
}

.TreemapClass .grandparent text {
    font-weight: bold;
}

.TreemapClass rect {
    fill: none;
    stroke: #fff;
}

.TreemapClass rect.parent,
.grandparent rect {
    stroke-width: 2px;
}

.TreemapClass .grandparent rect {
    fill: steelblue;
}

.grandparent:hover rect {
    fill: #ee9700;
}

.TreemapClass .children rect.parent,
.grandparent rect {
    cursor: pointer;
}

.TreemapClass .children rect.parent {
    fill-opacity: .1;
}

.TreemapClass .children:hover rect.child {
    fill-opacity: .8;
}

/** Treemap Bar Chart **/

.TreemapBarChartClass label {
    font-family: sans-serif;
    font-size: 14px;
    position: absolute;
    left: 92px;
    top: 26px;
}

.TreemapBarChartClass .axis .domain {
    display: none;
}

.TreemapBarChartClass .axis line {
    stroke: #ccc;
}

.TreemapBarChartClass .axis.x0 text {
    font-weight: 700;
}

.TreemapBarChartClass .hover-active rect {
    opacity: .75;
}

.TreemapBarChartClass .hover-active rect.hover {
    opacity: 1;
}
